
{% if page.footermini %}
	<link rel="stylesheet" href="/styles/footer-mini.css">
{% else %}
	<link rel="stylesheet" href="/styles/footer.css">
{% endif %}

<script src="/scripts/karion.js"></script>

<div class="unselectable kary-footer" id="footer">
	<!-- Footer links -->
	<div id="kary-footer-wrap">

		{% if page.footermini != true %}
			<a class="kary-footer-col-logo" href="{{ site.baseurl }}rnd"></a>

			<!-- Research -->
			<div class="kary-footer-col-links" id="kary-footer-box-1">
				<h2 style="border-bottom-color: #5B67A5;">Research & Projects</h2>

				<div class="kary-footer-spacer">latest experiments</div>
				<a href="https://designtalk.kary.us/">DesignTalk</a>
				<a href="https://github.com/pmkary/karyscript">KaryScript</a>
				<a href="https://github.com/pmkary/Righteous">Righteous CSS</a>

				<div class="kary-footer-spacer">explore projects</div>
				<a href="http://codes.kary.us/explore/groups">Kary Code Warehouse</a>
				<a href="{{ site.baseurl }}research">Project Reference</a>
				<a href="http://visualstudio.kary.us/">Visual Studio Marketplace</a>
				<a href="https://www.npmjs.com/~kary">Node Package Manager</a>
			</div>


			<!-- Developer -->
			<div class="kary-footer-col-links" id="kary-footer-box-2">
				<h2 style="border-bottom-color: #745CA5;">Library</h2>
				<div class="kary-footer-spacer">Standards</div>
				<a href="https://kcs.library.kary.us/">Kary Coding Standards</a>
				<a href="">Kary Comment</a>

				<div class="kary-footer-spacer">Language Reference</div>
				<a href="https://kary.us/nota">Nota Reference</a>
				<a href="https://designtalk.library.kary.us/">DesignTalk Reference</a>
				<a href="https://arendelle.library.kary.us/">Arendelle Book</a>

				<div class="kary-footer-spacer">API Documentations</div>
				<a href="https://github.com/pmkary/Graph/wiki/API">Graph's Programming API</a>
			</div>

			<!-- Foundation -->
			<div class="kary-footer-col-links" id="kary-footer-box-3">
				<h2>Personal</h2>
				<div class="kary-footer-spacer">Contact</div>
				<a href="mailto:pouya@kary.us">Email</a>

				<div class="kary-footer-spacer">networks</div>
				<a href="https://dribbble.com/pmkary">Dribbble</a>
				<a href="https://soundcloud.com/pouyakary">SoundCloud</a>
				<a href="https://music.apple.com/profile/pouyakary">Apple Music</a>
				<a href="https://www.linkedin.com/in/pmkary/">Linkedin</a>
			</div>
		</div>
	{% endif %}

	<!-- Footer Copyright -->
	<div id="kary-footer-copy">
		<div id="kary-footer-copy-left">
			<span id="kary-footer-copy-small">&copy</span><span id="kary-footer-copy-big">Copyright</span> 2012 &ndash; present, Pouya Kary. All rights reserved.
		</div>
		<div id="kary-footer-copy-right">
			<span id="karion-time"></span>
		</div>
	</div>
</div>