<head>
    <meta charset="UTF-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">

    <!-- Title -->
    <title>
        {% if page.title == "Home" %}
            {{ site.title }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!-- Meta -->
    <meta name="Description" CONTENT="Homepage of Pouya Kary: A researcher and inventor working on the mediums of the thinking and tools for the creators." />
    <meta http-equiv="content-language" content="en" />

    <PageMap>
        <DataObject type="thumbnail">
            <Attribute name="src" value="https://kary.us/media/general/google-search-image.png"/>
            <Attribute name="width" value="200"/>
            <Attribute name="height" value="200"/>
        </DataObject>

        <DataObject type="action">
            <Attribute name="label" value="Thoughts"/>
            <Attribute name="url" value="https://kary.us/thoughts"/>
            <Attribute name="class" value="download"/>
         </DataObject>

         <DataObject type="action">
            <Attribute name="label" value="Works Collection"/>
            <Attribute name="url" value="https://kary.us/works"/>
         </DataObject>

         <DataObject type="action">
            <Attribute name="label" value="Code Repositories"/>
            <Attribute name="url" value="http://codes.kary.us/"/>
         </DataObject>
    </PageMap>
    <meta name="thumbnail" content="https://kary.us/media/general/google-search-image.png" />

    <!-- Icon -->
    <link rel="apple-touch-icon-precomposed" href="./media/general/apple-touch-icon-precomposed.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./media/general/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./media/general/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./media/general/favicon/favicon-16x16.png">

    <!-- Specific Page Sheet -->
    {% if page.css %}
        <link rel="stylesheet" href="/styles/{{ page.css }}">
    {% endif %}

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cormorant:400,500|EB+Garamond|Montserrat:300,400|Source+Code+Pro:500,300" rel="stylesheet">

    <!-- General Sheets -->
    <link rel="stylesheet" href="/styles/base.css">
</head>