
/*
 * ─── BASE ───────────────────────────────────────────────────────────────────────
 */

    html {
        background-color:       white;
        font-size:              12pt;
    }

    body {
        background-color:       white;
        color:                  #7c7c7c;
        font-family:            Helvetica, Arial, Roboto, sans-serif;
        margin:                 0;
        padding:                0;
    }

    a {
        color:      inherit;
    }

    a:hover {
        color:      black;
    }

/*
 * ─── VERTICAL CONTAINR ──────────────────────────────────────────────────────────
 */

    #vertical-center-container {
        display:            flex;
        align-content:      center;
        flex-direction:     column;
        justify-content:    center;
        min-height:         90vh;
    }

/*
 * ─── ART ────────────────────────────────────────────────────────────────────────
 */

    #art-container {
        flex:               auto;
        box-sizing:         border-box;
        padding:            5rem;
        display:            flex;
        align-content:      flex-start;
        max-height:         min-content;
    }

    #art-image {
        max-width:          calc( 100vw - 30rem);
        width:              auto;
        height:             auto;
        max-height:         auto;
        flex:               auto;
        image-rendering:    optimizeQuality;
        max-height:         min-content;
    }

    #art-image-img {
        width: 100%;
        height: auto;
    }

    #art-description {
        width:              15rem;
        min-width:          15rem;
        max-width:          15rem;
        margin-right:       3rem;
        margin-top:         2rem;
        line-height:        1.6;
        font-size:          0.85rem;
        margin-bottom:      2rem;
        color:              inherit;
    }

/*
 * ─── COPYRIGHT ──────────────────────────────────────────────────────────────────
 */

    #art-copyright {
        padding:            0 5rem 8rem 23rem;
        letter-spacing:     1px;
        font-size:          0.6rem;
        text-transform:     uppercase;
    }

/*
 * ─── DARK THEME SUPPORT ─────────────────────────────────────────────────────────
 */

    @media (prefers-color-scheme: dark) {
            html {
                background-color:       black;
            }

            body {
                background:     black;
                background:     linear-gradient(180deg, #202020 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%);
                color:          #ccc;
                font-weight:    300;
            }

            a:hover {
                color:      white;
            }

            #art-description {
                font-size:      0.8rem;
            }
    }

/*
 * ─── REPSONSIVITY ───────────────────────────────────────────────────────────────
 */

    @media (max-width: 700pt) {
            html {
                font-size:      8pt;
            }

            #art-container {
                flex-direction:     column-reverse;
                max-height:         fit-content;
            }

            #art-image {
                flex:           auto;
                max-width:      calc( 100vw - 10rem );
            }

            #art-description {
                font-size:      1.1rem;
                width:          20rem;
                min-width:      20rem;
                max-width:      20rem;
            }

            #art-copyright {
                padding:        0 5rem 8rem 5rem;
                text-align:     right;
                font-size:      0.8rem;
            }
    }

    @media (max-width: 500pt) {
            #art-copyright {
                text-align:     left;
            }
    }

/* ──────────────────────────────────────────────────────────────────────────────── */
