
.thoughts-container {
    display:        flex;
    flex-wrap:      wrap;
}

.thought-box {
    display:                flex;
    flex-direction:         column;
    justify-content:        space-between;
    background-color:       #eee;
    padding:                1.5rem;
    background-image:       none !important;
    border-radius:          0.2rem;
    max-width:              11rem;
    margin-right:           1.5rem;
    margin-bottom:          1.5rem;
    transition-duration:    0;
}

.thought-box:hover {
    transition-duration:    0;
    background-image:       none;
    background-color:       #E2EEFA;
    color:                  #3778B7 !important;
    transition-duration:    0;
}

.thought-box:hover .thought-title {
    transition-duration:    0;
    border-color:           #3778B7;
}

.thought-title {
    font-weight:        bold;
    padding-bottom:     0.5rem;
    border-bottom:      1pt solid #aaa;
    margin-bottom:      2rem;
    max-height:         fit-content;
    line-height:        1.5;
}

.thought-description-box {
    display:    flex;
}

.thought-description {
    font-family:    "EB Garamond";
}

.thought-arrow {
    margin-left:    1rem;
}

@media screen and ( max-width: 500px ) {
    .kary-topic-page-article h2 {
        font-weight:        500;
        font-size:          1rem !important;
        line-height:        1.5;
        letter-spacing:     0.5rem !important;
    }
}

@media screen and ( max-width: 550px ) {
    .thought-box {
        width:              calc( 100% - 3rem );
        max-width:          calc( 100% - 3rem );
        min-width:          calc( 100% - 3rem );
        margin-right:       0;
        margin-bottom: 2rem;
    }

    .thought-title {
        font-size: 1.3rem;
    }

    .thought-description {
        font-size: 1.5rem;
    }
}
